a{
  color: inherit;
}

.checkbox-align{
  text-align: center;
  display:inline-block;
}

.container .row {
  margin: 0 auto;
}

.center-forms {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-text{
  padding: 0px;
  margin-top: 0px;
  font-size: 42px;
}

.Top-panel {
  text-align: center;
  background-color: black;
  color: white;
}

.Form-panel {
  text-align: center;
  background-color: #222;
  color: white;
}

.no-error{
  opacity: 0;
  height: 0px;
  display: inline-block;
  transition: all 0.25s;
}

.form-error{
  color: red;
  text-align: left;
  opacity: 1;
  display: block;
  height: auto;
  transition: all 0.25s;
}

.Ban-panel{
  text-align: center;
  color: red;
  opacity: 1;
  height: 50px;
  transition: all 0.25s;
}

.Ban-panel-out{
  text-align: center;
  color: red;
  height: 0px;
  opacity: 0;
  transition: all 0.25s;
}

.Protect-panel{
  text-align: center;
  color: blue;
  opacity: 1;
  height: 100px;
  transition: all 0.25s;
}

.Protect-panel-out{
  text-align: center;
  color: blue;
  height: 0px;
  opacity: 0;
  transition: all 0.25s;
}

.Song-container{
  width: 95%;
  margin: auto;
  text-align: center;
}

.Song-card{
  color: white;
  word-wrap: break-word;
  text-align: center;
  display:inline-block;
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  vertical-align: top;
  width: 325px;
  height: 275px;
  transition: width 1s, height 1s, opacity 1s, margin-left 1s, margin-top 1s, box-shadow 1s, color 0.5s;
}

.card-out{
  width: 0px;
  height: 0px;
  opacity: 0;
  margin-left: 0px;
  margin-top: 0px;
  box-shadow: 5px 5px #FFFFFF;
}

.card-green{
  color: black;
  background: linear-gradient(rgba(72, 228, 72, 0.75), rgba(72, 228, 72, 0.25));
  border-radius: 5px;
  box-shadow: 5px 5px #CCCCCC;
}

.card-blue{
  color: black;
  background: linear-gradient(rgba(0, 195, 255, 0.75), rgba(0, 195, 255, 0.25));
  border-radius: 5px;
  box-shadow: 5px 5px #CCCCCC;
}

.card-yellow{
  color: black;
  background: linear-gradient(rgba(255, 255, 0, .75), rgba(255, 255, 0, .25));
  border-radius: 5px;
  box-shadow: 5px 5px #CCCCCC;
}

.card-red{
  color: black;
  background: linear-gradient(rgba(253, 10, 10, 0.75), rgba(253, 10, 10, 0.25));
  border-radius: 5px;
  box-shadow: 5px 5px #CCCCCC;
}

.card-darkred{
  color: black;
  background: linear-gradient(rgba(190, 27, 27, 0.75), rgba(190, 27, 27, 0.25));
  border-radius: 5px;
  box-shadow: 5px 5px #CCCCCC;
}

.card-purple{
  color: black;
  background: linear-gradient(rgba(178, 0, 178, 0.75), rgba(178, 0, 178, 0.25));
  border-radius: 5px;
  box-shadow: 5px 5px #CCCCCC;
}

.card-pink{
  color: black;
  background: linear-gradient(rgba(255, 132, 216, 0.75), rgba(255, 132, 216, 0.25));
  border-radius: 5px;
  box-shadow: 5px 5px #CCCCCC;
}

.card-orange{
  color: black;
  background: linear-gradient(rgba(255, 125, 0, 0.75), rgba(255, 125, 0, 0.25));
  border-radius: 5px;
  box-shadow: 5px 5px #CCCCCC;
}

.card-lightblue{
  color: black;
  background: linear-gradient(rgba(10, 214, 255, 0.75), rgba(10, 214, 255, 0.25));
  border-radius: 5px;
  box-shadow: 5px 5px #CCCCCC;
}

.card-white{
  color: black;
  background: linear-gradient(rgba(237, 237, 237, 1), rgba(237, 237, 237, 0.25));
  border-radius: 5px;
  box-shadow: 5px 5px #CCCCCC;
}

.card-gray{
  color: black;
  background: linear-gradient(rgba(222, 222, 222, 1), rgba(222, 222, 222, 0.25));
  border-radius: 5px;
  box-shadow: 5px 5px #CCCCCC;
}
