.Top-panel {
  text-align: center;
  background-color: #222;
  color: white;
}

.Song-container{
  width: 90%;
  margin: auto;
  text-align: center;
}

.Song-card{
  text-align: center;
  display:inline-block;
  margin-left: 10px;
  margin-top: 10px;
  vertical-align: top;
  width: 300px;
  height: 250px;
  border-radius: 5px;
  box-shadow: 5px 5px #CCCCCC;
}

.card-disabled:{
  color: #AAAAAA;
  background: #AAAAAA;
  transition: background 1s;
}

.card-green{
  background: linear-gradient(#48E448, rgba(72, 228, 72, 0.5))
}

.card-blue{
  background: linear-gradient(#00C3FF, rgba(0, 195, 255, 0.5));
}

.card-yellow{
  background: linear-gradient(#DFC51F, #FFFF00);
}

.card-red{
  color: white;
  background: linear-gradient(#FF4747, rgba(255, 0, 0, 0.5));
}

.card-darkred{
  color: white;
  background: linear-gradient(#870000, rgba(135, 0, 0, 0.75));
}

.card-purple{
  color: white;
  background: linear-gradient(#B200B2, rgba(178, 0, 178, 0.5));
}
